.form_delete {
    display: inline-block;
}
.button_delete{
    color: white;
    background: #dc3545!important;
    padding: .20em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
